<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aplha 3</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="./img/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="./img/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="./img/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="./img/favicon/site.webmanifest" rel="manifest">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="./styles/reset.css" rel="stylesheet">
    <link href="./styles/index.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <button class="btn btn-primary" onclick="window.location.href='./assignment.php'">Assignment</button>
</div>
</body>
</html>